<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Sample Entry
    <bean name="customerService" class="com.pluralsight.service.CustomerServiceImpl" autowire="byName">
    <property name="0" ref="customerRepository"/>
    </bean>
    -->
    <!-- bean definitions here -->
    <bean name="speakerRepository" class="com.pluralsight.repository.HibernateSpeakerRepositoryImpl" />
    <!-- worked fine autowire by constructor
       <bean name="speakerService" class="com.pluralsight.service.SpeakerServiceImpl" autowire="constructor" >
       -->

          <bean name="SpeakerService" class="com.pluralsight.service.SpeakerServiceImpl" autowire="byType" >

       <!-- Constructor Injection
         <constructor-arg index="0" ref="speakerRepository"></constructor-arg>
         <property name="speakerRepository" ref="speakerRepository" />
         -->
  </bean>


</beans>